.MealSection {
    text-align: center;
}

.Left, .Right {
    height: auto;
    box-sizing: border-box;
    width: 20%;
    margin: 3%;
    padding: 2%;
    border-radius: 20px;
    background-color: #bbcfed;
}

.Left {
    float: left;
}

.Right {
    float: right;
}