.DividerLine {
    border: 1px solid #000;
}

.LineContainer {
    height: 1.5em;
    position: relative;
}

.MealImage {
    position: relative;
    height: 10em;
    width: 100%;
}

.MealSection {
    position: relative;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    margin: 1%;
    padding: 2%;
    border-radius: 20px;
    width: 25%;
    background-color: #c1d5f5;
}

.MealText {
    position: relative;
    width: 100%;
    text-align: left;
}

.MealTitle {
	font-weight: 400;
}

.MealTopInfo {
    min-height: 25em;
    position: relative;
}

.ShortLine {
    display: inline;
    position: relative;
}
