.SignUpPage {
    margin: 6%;
    text-align: center;
}

.SignUpHeading {
    font-weight: 400;
    margin: 0 0 1em 0;
}

.FormBox {
    width: 80%;
    height: 350px;
    margin: 0 auto;
    background-color: #b6c7e3;
    border-radius: 20px;
    text-align: left;
    padding: 2%;
}

.TextField {
    border-color: transparent;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 200;
    padding: 1%;
    margin: 1%;
}

.TextField::placeholder {
    color: #888;
}

.TextField:focus {
    box-shadow: 0 0 5px #555;
    outline: none;
}