.WhoWeAre {
    height: 30%;
    width: 60%;
    margin: 8% auto;
    background-color: #465d80;
    padding: 5%;
    border-radius: 20px;
    color: #ededed;
    font-size: 1.4em;
    line-height: 1.5em;
}

.WhoWeAreHeading {
    font-family: Bradley Hand, cursive;
    font-size: 2em;
}

.WhoWeAreNames {
	font-style: italic;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8em;
}

.WhoWeAreText1 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8em;
    padding-top: 4%;
}

.WhoWeAreText2 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8em;
    padding-top: 4%;
}